@model SliderItem
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create slider item</h4>
        <p class="card-description"></p>
        <form method="post" enctype="multipart/form-data" class="forms-sample">
            <div class="form-group">
                <label for="ExampleInputName1">Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Title" />
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label for="ExampleInputName1">Short Description</label>
                <input asp-for="ShortDescription" type="text" class="form-control" placeholder="ShortDescription"  />
                <span class="text-danger" asp-validation-for="ShortDescription"></span>
            </div>
            <div class="form-group">
                <label for="ExampleInputName1">Offer</label>
                <input asp-for="Offer" type="text" class="form-control" placeholder="Offer" />
                <span class="text-danger" asp-validation-for="Offer"></span>
            </div>
            <div class="form-group">
                <label for="ExampleInputName1">ImgPath</label>
                <input asp-for="ImgPath" type="text" class="form-control" placeholder="ImgPath" />
                <span class="text-danger" asp-validation-for="ImgPath"></span>
            </div>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
            <button asp-action ="Index" class="btn btn-primary" type="submit">Update</button>

        </form>
    </div>
</div>